   belief  .     () .  ©  , ..//. 
      :     , ,    
 . ,*, .       
 
 
     ,  , 
, ,  
.@.,   
 belief    ,   ,   , 
, , ,  
&@. 
isolation_effect :      ,     Tactics   vulnerabilities   , [Organization] ,  .   combining  combining          , ,       .                              combining  . ,        ,   personality  (),          ,   .       personality        ,      . ,     perception                     .   ,  simplifying   /       ()               .                perceived_vulnerability intelligence            . ,        ,           . 
:  ,   , , perceived_vulnerability intelligence,      (). 
. 
 
         "         (   )     ".                  ()  ", [policy ],          ,  []     perceived_vulnerability , perceived_vulnerability , ,  perceived_responsibility,  , ,     ,    
,  belief,  , , ,  intelligence                " [].             ,                 extrinsic_rewards  ,, [].                          .          , [Organization]               .   ,      ,              intrinsic_rewards?  ,    ()      , ,       ,      , ,   .              .                  perception      perception   personality       loss [].   [],          ,    .  gain        gain   ,   ,    ,       .    intrinsic_rewards         ,                     .   ,           []. ,  perceived_vulnerability intelligence         Collection            perceived_vulnerability  process        perceived_vulnerability. 
================
      -security:   
     ()           , ,             [].  perceived_vulnerability intelligence         ,   ,      [activity]  []. 
  [],               . ,                  .      []   : ,             , ,            Tactics      ; :       intentionality  (), ,         intrinsic_rewards      ; :      ,                 ,      process; :               perception.   belief,   []        perception         .    ,   perception           -technologies          .   ,       ,    personality    .               possibility_effect   judging         [].   []   ,      -          .              loss           [].                                    . 
             []. 
  []    ()          protection_effect       .     perception       perceived_vulnerability  ,    .                  .  [],   certainty_effect   intelligence                      ().   ,                   , ,  ,     intelligence .     
 
          planning      ,            protection_effect     .            planning,   ,  . ,        . ,   intelligence          .  [],                , , ,  .                      . 
  []        personality  ( ).      intrinsic_rewards        intelligence  protection_effect             .  [],                           behavior    .               ()      ()   -  process  ()  combining         .              protection_effect               []: :        possibility_effect       ; ,                  . :       personality           . :        ,       . 
,         : :  focus   /                       combining          process. :            ,             . :                      . 
        :             []   perceived_vulnerability intelligence .        ,           .              ,    /     ,     
================
      -security:   
 
     .        ;      . 
. 
 intelligence 
  perceived_vulnerability 
  ,         perceived_vulnerability intelligence            .          . 
.  
     ,     , ,       protection_effect, ,  behavior_control-ability     vulnerabilities  , [Organization]  ,      . 
: "   intrinsic_rewards     ,   ,       " []. 
 personality perceived_vulnerability (): "       mastery_experience                   (.., , ,  )" []. 
perceived_vulnerability intelligence       "  [knowledge ],    , intrinsic_rewards, ,    ,      perceived_vulnerability                   perceived_vulnerability  ". 
      ():        ()  "    combining  combining  , ,         " []. 
.       
  perception      ,               behavior_control-ability    , [Organization] ,          .   ,               .                  . ,      ()   personality  ()  gain                       . 
================
      -security:   
   perception        perception       . 
  []     belief     () perceived_vulnerability appraisal .      belief     perceived_vulnerability   appraisal process. ,        belief     appraisal     ,            perceived_vulnerability appraisal process.   perceived_vulnerability   ()    []         .           .     mental_calculation      perceived_vulnerability               perceived_vulnerability . ,    perceived_vulnerability    mental_calculation    .     perceived_vulnerability             perception    perceived_vulnerability .   perceived_vulnerability   appraisal       . ,  generalizing                perceived_vulnerability    []  . :        , ,      ; :                     [Organization ]; :      perceived_vulnerability appraisal  perceived_vulnerability [modeling ]; :    planning   ;   :         extrinsic_rewards   perceived_vulnerability .   [],    perceived_vulnerability      ,   combining    possibility_effect      .     perception                  . ,                     . 
)   
          ,    .      .   []           [goal ].     []    "  , ,            loss     [function]   ."   ,        []         , , , , ,    .            :    .                . ,        
 
      [knowledge]      behavior.     -based    -based   .               behavior            .           . 
   intrinsic_rewards      . ,          intrinsic_rewards,     intrinsic_rewards    .  -based       -malware     []. ,  perception            .         process,      [].   [],  intrinsic_rewards   ,  ,             .           , ,  - , ,  . ,   intrinsic_rewards    focus           behavior_control-ability  .   ,         , ,        . 
)   
  ""    []       ,     ( ),          .     process          ,  judging     .     ()               process [].         :        .                  .                    [knowledge]     vulnerabilities.    ,  -based      behavior    experiential_awareness   combining     .    behavior            , ,     combining  .      behavior           .               -based  (),   (),   -based  (). 
                      .     []    behavior_control-ability    
================
      -security:   
                .          .   ,             ,  ,     .                .              . , ,   ,           .                 .   -xxx   ()     [].         simplifying              [knowledge] .        personality     .                -based,  ,  ,    .                 [].    perceived_vulnerability       :                     .    ,                     behavior               .                    . ,         ,         extrinsic_rewards        .
 
)   
  ,             .    ,      ()    protection_effect   [activity]     .                   .    perception      -based  ,                  .    segregating            [].  gain                  . ,   [],    perceived_vulnerability           intentionality    ,      ,       . ,              ,     
 
    , .    ,                    .   ,         ()   -based  (). 
  [], , , ,                  . ,              .  personality loss              [resource] . ,    gain            ,       [function]             .   ,   ,       ,  -term ,                . 
)    ( ) 
 ,    [],        protection_effect            .              , ,  .         protection_effect  (..  )    (..  ).       []    :  ,  ,    .                     ()  / .            ,           [].       .              .  ,  ,       situational_circumstance    ()       syllogistic_rules.                        .  persistence   ,           ,  process    .   [],              ,      loss .     , ,   ,  perception     .        [policy]    perceived_consensus       .  [policy]       personality            .
 
)   
       ,              
================
      -security:   
[Organization]     . ,  [Organization]      .          ,     , ,  ,     [].  process   ,       gain   ,    , , ,  judging    .            combining  , ,  [policy] .          protection_effect   .  protection_effect     ,           [].     personality    process               .                    [].  [],              .     focus               perceived_vulnerability           .    []   : ,                    ,    ; ,          process. ,        combining    .  focus   ,  gain          process,            . ,              .        , , ,   ( )          vicarious_experience . ,                        . 
)      
                  ()     ().   (  ) focus   Collection      .                    ,   focus                        [].   [],  focus       : :     ( )      ; :          ; :          ; :      .         extrinsic_rewards   
 
                   . 
              perceived_vulnerability intelligence         . 
)  
    ()     []       perceived_vulnerability      .         ,          . 
)   
    []    simplifying  perceived_responsibility      ,      .         extrinsic_rewards         .                  .                   : :          ,    possibility_effect      ; :             . 
)  
 []        ()                .                   gain    .     -based  techniques           .         ,            .      [policy]     task,           . 
)  
 []    Source      (),    source      Collection,   .                source   .   Source  ()             : , perceived_vulnerability appraisal,  ,  ,  . 
)  
   []          [Organization]      participant_modeling        
================
      -security:   
perceived_consensus      .      combining     ,     syllogistic_rules           [capability]    [knowledge]     .       ,       .    [],          ,             perceived_vulnerability. 
)  
 []           ,  ,     .            combining  combining  [activity]   .                [policy]   ,  ,   . 
                 []; :                 . ,       combining  [knowledge]         ; :     ()   protection_effect  process                    ; :            .   [],             intelligence              ,           process .       ,   []     ,    ,   learning             .           .  ,   []           .              ,           ,               protection_effect     . 
 ,             []     : :                 ,       . ,          ,                         . :         
 
 ,  ,    (),      ()     ,   perceived_vulnerability               . :                 . 
 ,               gain           perceived_vulnerability       []: :                 combining      ; :                    ,    ,      [Organization ]. ,                  judging     . :        intelligence,           .  intelligence      ,           learning   [circumstances]   ; :      . ,     personality     . 
 generalizing,                       .                ,       learning   [circumstances] ,             .   ,   ,             .                 .             ,  ,      . 
. 
   
  , ,        .         . ,          . 
.     
              .    [],      intelligence              .       []  ",  /      ,          perception,   
================
      -security:   
 
 process ".      []         Collection     process       .            .       []    ""          . 
 
 
 
================
      -security:   
          intelligence   intelligence  perception.   ,                      .                []. 
)     
               ,    -point .                                 . ,   intrinsic_rewards              .   ,                     [].           .  []         ,                 ,  ,     (  ,    , ,    ).       ,         .      []   ,               ( )           ( ).           personality   .                 , ,          .          gain   intrinsic_rewards []. 
)      
     , ,   combining             .   ,         .                         focus  behavior             .           []   ,    .  personality         ,        .   ,    ,          .     combining          .                  . 
 
 :       ? [] 
)     
                                    ,    ,     ,   .     []             behavior  ,          appraisal  .    ,   [capability]       [action]                .          () []    focus        .           role  judging,     ,  ,  ,   .                    .             ,      evaluating,      . 
.      intrinsic_rewards 
   process   ,      .  ,    []                  -based    .  ,          simplifying .   process,     /       [function]    .  simplifying process,               simplifying [function ].      ,    source   personality, ,   .                       
================
      -security:   
 
   .              ,        .                          .   ,             .      ,  ,  ,    ,   ,    .            protection_effect               , , , , , , , , arousal, ,  .     ,      [].   [],     focus    ,  ,  ,  ,   .          ,     .             . perceived_vulnerability            .         ,       process   .              .    ,   simplifying                . 
    intrinsic_rewards         simplifying       .   [],          techniques.  ,       -Mart      -based intrinsic_rewards               appraisal   .             intrinsic_rewards        perception   .             .     ,  ,  ,  -computing,  ,  perception, ,  . 
================
      -security:   
 personality    physical_quality     . ,         .      intrinsic_rewards                   .  intrinsic_rewards : ()     ; ()       ; ()   ; ()    ;  ()      intrinsic_rewards .   []                         . 
.           personality            .             personality   ,                  .   ,               personality   ,                 .    []                          . ,                        .                                  .          personality     (  )    segregating    protection_effect .   ,           personality       . ,        , ,   -structured ,   personality    personality   process.     ,               .    ,           ,              .  ,   [policy]               . 
               []  ,  ,  ,  ,  [policy ], ,   .     personality      techniques   .    ,                .   perceived_vulnerability intelligence              .  [policy]      personality    .     
 
                .   ,      perception        ;            perception.             -threatening.                             .               loss.  gain,         ,           [].   source               []. 
                           satisfaction_of_needs         [].            ,        .   ,    , ,         .              . 
. 
       
                  -    .    combining       ,                        .        perceived_responsibility  , , ,   .   [],                  . 
================
      -security:   
      ,    combining         perceived_vulnerability ,  ,       . 
 :      ()              (..  )    . 
 :    ,        .                    . ,         -         . 
.                             intrinsic_rewards    .    mental_calculation        gain    .    ,         . 
.    -Sourced  
    intrinsic_rewards                .       segregating ,  , personality  ,    ,  ,  ,   ,  , perceived_vulnerability intelligence ,  .         ,             .                  protection_effect   . 
. 
   : 
     intrinsic_rewards   ,                   . ,       mental_calculation         combining, process,         .    ,                       , ,   ,          . 
. 
    : 
 evaluating      intrinsic_rewards    gain         ,         .      ,                  . , ,  
 
          , ,   , perceived_vulnerability ,       .  ,               mental_calculation     . 
.   
        perceived_vulnerability intelligence          .     , , , ,  ,       ,  . ,             behavior     .  [],       intelligence                  participant_modeling      .          personality   .       : () judging    vulnerabilities; ()   ; ()     ;  ()      .                           personality  .           []                     .       () []        combining  -criteria  intrinsic_rewards       ,   ,  -link,   .            perceived_vulnerability .                          . 
.          protection_effect         ,  ,  ,  ,   [modeling ],   ,       .  ,      ,                          ,   , ,  .               .  ,                        . ,          .   [, ],    ,                      
================
      -security:   
      , , , ,        . ,                     -based     .  gain,        simplifying          combining   .               .     ,                ,  ,                   . 
.       
 
            perceived_vulnerability intelligence.             .                    .               extrinsic_rewards        intelligence.      ,                  personality       . 
)       
 
 [, ],    ,               .          , ,      intelligence  possibility_effect  .          intelligence   [],            combining            .   intelligence     intelligence    ,   ,   ,  ,  perceived_vulnerability        .   ,      ,     ,    combining loss  [ownership ].                            .           ( )    [activity ],  [activity ],  [activity ],  [activity]               .          process   . 
 
 :   intelligence   
[] 
           ,  ,    . ,             , , ,   .              combining                      .      intelligence ,             .               intelligence . 
 :      [] 
    ,           , ,   .       source           Collection,       ,           .    ,         ( -traditional)           participant_modeling            .                                        .    [],      intelligence   , , , ,                . 
)      
  intelligence,  []         personality,      .     
================
      -security:   
    ,  ,  ,              behavior_control-ability   ,          .          [],           ,     ,       .                  gain         .       -based        personality   , , participant_modeling      . 
       -    -GR (  ) ,     ,  , ,     .        ()             [goal]     perceived_vulnerability   .   , ,                intelligence Collection   .          .        ,                       .              simplifying                    .  combining       ,       () .       ,    syllogistic_rules           .                .      ,                  . 
 :      [] 
 
)   
 [],              simplifying           .     ,       ()     . ,     process  combining       ,                 syllogistic_rules.           ,                .    process       ,    extrinsic_rewards   ,   ,     .                     source      process   .              .                   .               loss     .               . 
 :   [] 
  [],        ( learning+  ),        .      ,       .     .              ,          .   ,               .             judging        [].                judging        .           participant_modeling  role                  combining  . 
================
      -security:   
)   
 [],              .               participant_modeling            persistence  .     [knowledge]              . ,                   .           behavior    .                  [policy]       .        ,    focus      [activity]   .             behavior            .                 gain     behavior    .    []         process           .          [policy]             .      ,                -Scale   [].       belief      belief.                            .        intrinsic_rewards participant_modeling                          (),        .                             ,    .       []              . ,             focus               behavior    . 
)   
 []       ()             .     
 
                 gain      .                  simplifying             . 
)      
    intelligence [],     ,   -generation             .       ,  ,    perceived_vulnerability             .   ,   ,    protection_effect           behavior. 
)     
     []                    .               .         intrinsic_rewards            .     ,                    . 
)   
  intelligence   (),          [ ]      .   [],    ,   ,  ,      ,    appraisal         .     ,                      .              .                           .                    ,                         . ,                      participant_modeling           .         
================
      -security:   
              , .         .     -ended     intrinsic_rewards   . 
 :   [] 
          self-efficacy     -Day .  focus   []      appraisal                       .           []; ,                 .                 .     -day               .                  .                                . 
.         
 
  ,               . 
)     
            .         ,   ,  -structured  .        ,        
 
       source     ,  ,     . ,     -structured            ,  , perceived_vulnerability        gain             .         ,    evaluating          . ,            .                  intrinsic_rewards       combining      . 
)    
        ,               . ,      possibility_effect                loss    personality , ,          .   []  ,         , ,  judging            ,   ,          .                           .     ,             ,      combining           , , ,  intelligence  perception intrinsic_rewards.      [],            gain             .                             . 
)    
        combining      . ,       ,              .             ,         combining  .       process      .                    . ,   
================
      -security:   
         personality            loss      .             . ,      ,      ()       . ,                    . 
)   
                    .                     .       ,            personality . ,    ,                                 . ,             impact       .    ,     personality.                    personality     perceived_uniqueness  .             ,                   .     perception,    []           mental_calculation       protection_effect             . 
)   
        source ()  .                      . ,           ,                          .     ,                    .                            .          ,      ..  generalizing,           ,       
 
               . 
)   
                        [knowledge]        .        intelligence      .  []        intelligence                         []     .                      .                              ,                  .    [modeling]        -                     . 
)  
                 personality       behavior?   mental_calculation          intelligence       ?                          []   behavior          mental_calculation , ,        . 
. 
  
            ,        ,  []    possibility_effect      . 
.      
       ,            .                       .  gain,                         protection_effect           ,     .    ,    
================
      -security:   
           .                         personality  . 
.   
        ,           gain  perceived_vulnerability          , ,    .               . ,    behavior     ,       impulsive_effect           behavior  ,      ?       ?  generalizing,            [modeling]       . 
.  
                         .             ; ,           gain          ,           . 
.    
          intelligence , ,    ,           . ,                .                ; ,          . 
. 
 
           ,    task        .       ,  , ,              Tactics. ,          ,    evaluating,     ,               . ,           
 
   .     ,          .                   .                         .         ,                     .                       . ,            .            ,           .             ,        personality    .     ,                  personality   .  gain,              .     ,                    . ,     mental_calculation          . 
 
[] 
[] 
[] 
[] 
[] 
 ;        (), . ://../;   ://. 
    :     ,   .  ,  ,   ,     :     :  ,  :    (). 
. . , .. ,  ..      .  & , . (): .  -76. 
. ,  perception   ,  :    (). 
[] 
  intelligence    :           ,   ,   : perception   , . 
================
      -security:   
[] 
[] 
[] 
[] 
[] 
[] 
[] 
[] 
[] 
[] 
[] 
..  ..   .. .          . :       , . . , . ,   .. .              . :     ,        intelligence  (),      intelligence    (). 
.   ..       :   .    intelligence , , (): . . 
.   . .  :     :    , intrinsic_rewards  . :       belief (), . . 
. ,,. , .   . ,   personality    intelligence    . :        (). . . 
. , . ,  . .      perception    . :  /           (), . . 
. , .  ,  . ,     perceived_vulnerability . :          , : ,  . .  -104. 
...  ã, . .  , . . , . ,  . . .  ,   perceived_vulnerability       belief.     , . (): . . 
.   ..      perceived_vulnerability appraisal     .    , . (): . . .   . ,     perceived_vulnerability appraisal     .  personality , . (): . . 
. , ..   . ,   perceived_vulnerability     :    perceived_vulnerability   perceived_vulnerability  .  , . : . . 
 
[] 
[] 
[] 
[] 
[] 
[] 
[] 
[] 
[] 
[] 
[] [] 
[] 
[] 
[] 
   . ,        perceived_vulnerability ,  ,  . 
.   . ,   perceived_vulnerability      .      , . (): .  -181. 
. , . , . . , . ,  .  .   . :       , . 
.   . ,   :       .  , . (): . . 
.   . . :        .      . . . 
. , . , . ,  ..  impulsive_effect        ,  :     :   ,  , , ,   -25, . , . , . ,  . , . ,   : , . .  -120. . , . , . , . ,  . ,  intelligence       .    , . (): . . 
.   . , intrinsic_rewards    judging  :  .        , . (): .  -935.    . ,   ,       (),   .. 
. ,        ,  , ,  :   . 
; ://... 
..  . . . , . . ,  . . ,   :   .      , . (): .  -24. 
. ,   -       - ,  ,       ( ). ,  : . . . 
..    -   - ,  ,     ( ). , : . .  -175. ..   ..   -  ,  . ,  : . .  -57. 
================
      -security:   
[] 
[] 
[] 
[] 
[] 
. ,      , . 
..   ..   -   ,  . ,  : . . . 
. , ..   ..    perceived_vulnerability     ,             intelligence :     intelligence    , :  , , . . . 
. ,      . , . (): . . 
. , . , . ,  . , judging     protection_effect     :   .  : .       , [knowledge ],    (), . 
[] 
[] 
[] 
   ,   .   , . 
  :      ;   , ://..// - /.. 
..   -xxx    , ,  ,   . 
[] 
[] 
[] 
[] 
[] 
[] 
:       Source ; 
://..//,   . 
: ; 
://..//// . 
 :   ; 
://..//.,   . 
. , . , . ,  . ,      .  , . : .  . 
.  , . , . ,  . ,,                .      . 
. ,        , ,    (). 
[] 
       ; ://..//?=; 
 
[] 
[] 
[] 
 : //,    . 
  , : 
://../ -glossary//;  : //,  .  . 
..    . . ,  , , intrinsic_rewards  :     .  , . : .  -347. 
.   . ,  :         , ,  . :   . 
[] 
[] 
[] 
[] 
[] 
[] 
[] 
[] 
[] 
       ; ://../// /;  : ,  ;  : //. 
. ,   .    ,  , : .  -35. . , . , . ,  . ,     .      , . (): .  -2573.       ; ://..////// - /;  : //. 
.   . ,     : perceived_responsibility  possibility_effect.     , . (): . . 
. , . , . , .   . , personality     intelligence  .  personality , . : . . 
. ,   -time ?    intelligence . , . (): .  -14. . , . , . , . ,  . ,       .       , . (): . . 
.   . ,     :  ,   ,   intrinsic_rewards    , , . 
[] 
[] 
      ;://../// /.;  : //. 
            behavior; 
://..// -xxx-  
================
      -security:   
[] 
[] 
;  : //, . 
:    ; 
://./ /;  : //., . 
. ,    :      , ,    . 
[] 
[] 
[] 
[] 
[] 
[] 
[] 
[] 
   ; 
://../;  : //. 
.   . , :      .    , . (): .  - . 
.. çã, . . , . , . . ,  . ,     :    .      , .  -80: . . 
.   . ,         .     , . (): . . 
.   . ,  :  ?  , . (): . . 
. ,     .  , . (): .  -14.        ;  , .:   perceived_consensus (). 
     intelligence;   perceived_consensus ();    ;  :  . 
[] 
[] 
[] 
    ;  intelligence; :// intelligence .//.  intelligence  , . 
.   .. . :      .  . . .   . ,          personality .  , . (): .  -105. 
[] 
[] 
[] 
  intelligence  focus.        ;  . 
   intelligence ; ://..////;  : //. 
   ; ://../ -xxx- 
 
[] 
/ 
/?=&= & =;  : //. 
:         ; ://..// //  ....?=;  : //. 
[] 
[] 
[] 
[] 
[] 
[] 
 :        ,   , . 
. , . , . , . [], . , :    . :         . . 
. ç, . ,  . , :      ,   , . . . 
. . , . , . , . , . , . ,  . , :       [activity ], :    ,        , :  , , . . . 
. , . , ..  . .   . .    -Stage       . :    /       . . . , . , . . , . .   . . :    . :     (physical_quality ), . . 
[] 
[] 
[] 
[] 
  intelligence ; ://./// -security- .;  : //,    . 
   ; 
://../ -xxx- /;  : //,   . 
.   . ,        :   intelligence   (),             [experience]    , : , . .  -96. 
.   . , experiential_awareness    :    
================
      -security:   
 
[] 
[] 
[] 
    . , . : . .. 
.   . .    . :        (), . 
.   . ,    :   focus   -Day     , :            , : ,  , . . . 
. ,      .  , . (): .  -8. 
  
 .         ,   ,    ().                 , .         ,    belief,  ,         intrinsic_rewards     . 
. .        ,    ().     ( )   ( )        , ,         () .       belief&    ()  . ,       ,  ,     . 
          ,   ,   .     ( )         .      ,   ,      . 
================