   perceived_vulnerability :    
   
 . .      
   
   ,    
,   
{,...}@.. 
isolation_effect.  perceived_vulnerability      perceived_vulnerability     .      ,        perceived_vulnerability  extrinsic_rewards        .   ,   ﬀ ﬁ   loss     .    ,         .                  perception  .     ﬁ  appraisal   perceived_vulnerability       [Organization] [goal] ()/ .       . ,        . ,                 . ,             .               .              . 
:  perceived_vulnerability,  ,  ,   , perceived_vulnerability appraisal 
  
    [,,]               (. [,]),       ﬁ , loss         . ,      gain            .  mental_calculation  ,  ﬁ   [],  "                  [policy] ...   perceived_vulnerability        ".        
 
           - ://..// 
================
 : ,      .  ﬁ      ﬁ      [Organization ].        ﬁ       [Organization ].  ,  ,     ,   syllogistic_rules,  [Organization]  ()   [Organization ].     : ()         ﬁ   ,  ()        ,    vulnerabilities  ,   /. ,      ﬀ                    ,            . ,        ,   ,              ,        . ,               ,      perceived_vulnerability        . 
    perceived_vulnerability ,       .     ﬁ  appraisal        [Organization ].  perception    planning     .     [modeling]      perceived_vulnerability   personality ,            [],   []    []             .      ,  ,      .         protection_effect     process  ﬁ  appraisal   . 
            ﬁ   .        ﬁ-   appraisal   perceived_vulnerability            ,    .   : ()        , ()                    ,  ()            .         gain perception          ﬃ  ﬀ        .    protection_effect         ,           .                   , .. ,      . 
 
================
. [Organization]    
     .  ﬁ                . ,   ,                . ,                ,   .            .               (..  ,     ).      ,       ,  .          .       ,       ,      generalizing     . 
        
  perceived_vulnerability 
              .  [goal]         combining     ,  ,  ,      . 
    ,           .       . ,   vulnerabilities              .  combining  perceived_vulnerability       ﬁ  perceived_vulnerability       []: "[perceived_vulnerability]   ﬂ      , ,          (    )              [policy] ". ,         protection_effect    . ,     ﬁ,   ,    ,    ,   ﬂ    , , , , ,    ,      protection_effect     . 
             perception          .     [Organization]   ﬁ  appraisal            , ﬁ    [Organization] [goal] ()   .  ,      ,                    [,,,].           ,    .                  . 
 
================
  
 
  
 
 §2 
  
  
 
 
  
 
 §3
 §4 
 
 
   
     §5 
 §6 
. .            
      
 [] ﬁ   " , ,         possibility_effect belief             segregating     .".   [Organization]  ﬁ     [goal] ()/     ,            [Organization ].        ,     [,,,],   . 
.   perceived_responsibility ():  [] "[   protection_effect ]   
       belief       
         ".     
    ,         
 / (..  ),    personality ,  
   arousal       . personality 
     ﬂ: ()   -     
participant_modeling      , ()   -   
   participant_modeling     ﬂ,  () history 
 -     participant_modeling       
  .     ﬃ      
.   ,   []  , ,   
   . 
.   (      ):  
      personality    , 
      belief,  participant_modeling. .   :         
       .    
. 
 
================
. ,   :  []      
   .       
  vicarious_experience .         
    . 
. perceived_responsibility  ﬁ  techniques :  [] "[ 
]              
     ".      
      []. 
.    :     protection_effect  
            
participant_modeling  .          
  .          
   . 
. :  [] "  [action]    
   ,      , 
        ".      
        ,  
,     ,         
       segregating    . . :    , evaluating , ..   
 . 
. ﬁ  : ﬁ        
     .      
    []     persistence   . 
               
ﬁ    ,        
 . 
    ,    ,          .    (.. ) ,  [goal]      participant_modeling     .   [Organization] ,  [goal]          . 
   
           .    , ﬁ  ,  mental_calculation         .      . ,    isolation_effect           personality      . ,                 personality     .             :      . ,           . 
 
ﬁ,    
 
================
  []   belief    (   []).     [modeling]          .  perceived_vulnerability   ﬁ            .        ,           intrinsic_rewards    .  , ..    ,            .           .           [goal]     . 
          ,    / .  personality                      [].   ,         ,   ,       . 
           belief    :  [,,,,]           .    "", "intrinsic_rewards ", " "  " "       .   belief                          ﬁ     [goal ]. 
   ﬁ  [] "            ". ,          .   ,  mental_calculation  :  ﬁ         [Organization]   ﬁ   ,        [Organization]  participant_modeling        ﬁ ﬁ      .     ﬀ ,               .              : (.) "   ,    ",   "  ,   ",  (.) "      ,   ".             .        isolation_effect          ,           .  .,       : ( ) "intrinsic_rewards   -  ,    -  "  ( ) "intrinsic_rewards   -  ,    -  ".  . ,      : ( ) "intrinsic_rewards   -  ,    -  ". 
   " "     ,    ,   .         .       ,      .   
 
  ,        .  
  "                 ﬀ   [function]  ﬁ   " 
 
================
    ,    .    .          .        perception    perceived_vulnerability    ,    ,               ,     .  .. 
<, intrinsic_rewards ,  ,  > <, intrinsic_rewards ,  > 
<, intrinsic_rewards ,  > 
<intrinsic_rewards ,  ,  > 
<intrinsic_rewards ,  > 
<intrinsic_rewards ,  > 
  : 
[goal] :     /   participant_modeling ,        
     [Organization] 
:   [knowledge]      [Organization] 
: 
 .    
/  
..     
..     
. intrinsic_rewards    
/  
..     
..     
:     [action]       [Organization] 
. .    
  ,               .   ,  ,            ,          "intrinsic_rewards ".   ,  , perception        ,     .             . 
   
 ,   ,        ()           ,     , ()         ,  ()   [,,,,].        ,  ﬁ 
 
================
      ""  "intrinsic_rewards ",       " "        " ".                      .                ,    .    . 
   ""  "intrinsic_rewards "  : 
.         protection_effect    
  
. protection_effect          [function]  
 
. protection_effect            
 
.    : ()   , ()  
 ,  ()      
   combining    .    
. protection_effect              
   
. protection_effect    , ..    
     possibility_effect  
.      , frustration_of_needs,    
 
   " "  : 
.    ﬁ      
            .         
.        
.   (..   )   ﬁ    
trap  (  "        
         
    "), ﬀ ﬂ (  "  
            ﬀ   
 ";           
 ﬀ), / ,  ,   loss, 
,       
. protection_effect     ﬁ     [Organization] . simplifying          , ﬁ- 
      
   " "  : 
 
  : ...,          
 
================
.   ﬁ  
.     ,    [function ],   
 ,    . ,   
participant_modeling    /  [function ]. ,     
      combining      
()  role , () vicarious_experience role , .. role , 
() , ..  ,  () role  ﬁ- 
,  ,        [function] 
 /      .     
. ,             
   [Organization] ﬁ    [function ]. , 
        ,      
            .   vicarious_experience  ﬂ       
   ;   ,       .     ;       
     [].       
   , belief     loss   
vicarious_experience ,      .   
  personality,            .           extrinsic_rewards . protection_effect   ,      ,    
       
.        ;      
         ﬂ    
     
.       process   . , 
      role  , ,  
      ,       
       ﬀ  ,  , 
    .       
         ,   
           
    
. protection_effect    : ()     
       combining   
         ; ()  
ﬁ            
           
    
,    ,  ,      ,     .          ,      .                     .           
 
================
 
 
-5) 
 
 
 
 
(
  
 
 
 
 
 
 
  
 
 
 
 
 
 

  
 
 
 

  
 
 
 
 
 
) 
) 
 
- 
 

&  
 
 
 
 
 
 
 
 
/ 
 
 
 
( 
 
-3 
 
 
/ 
 
,  
 
 
 
 
 
( 
) 
 
- 
 
 
 
 

( 
 
 
 
 
 
 
 
/ 
 
 
/ 
 
 
/ 
 
 
 
/, , 
,  
 
 
 
 
    () 
 
 
 

  
 
 
 
 
 
 
 
 
 
 
 
 
 
 
/ 
  
 
 
 
 
 
  
 
/ 
 
 
 
  
 
 
 
 
 
 
 
 
 
 
 
 
 

  
/ 
 
 
 
 
/,  
 

  
 
 
 
) 
 
 
 
 
 
 
 
 
 
 
 
 
) 
) 
( 
 
 
-2 
( 
 
 
 
( 
 
 
 
 
 
 
 
 
 
 
 
) 
 
 
 

( 
 
 
 
 
 
-1) 
 
 
 
 
-3) 
 
 
 
 ( 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
) 
 
 
 
 
 
 
 
 
 
( 
 
 
 
 
 
 
 
  
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
    ( 
 

  
 
 
 
 
 
 
 
 
 
 
 () 
 
 
 
 
 
 
 

  intrinsic_rewards 
 
 
 
 
 
 
 
& 
- 
 
 
 
) 
 
 
( 
- 
  
 
 
 
 
 
 
( 
 
- 
 
 
 
  
 
 
  
 

  
 
 
  
 
) 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 

&  
, / 

  
 
 
 
 
 
- 
 
 
 
 
 
 
 
 
(
  
 
  
 
 
 
 
 
 

  
 
)  
- 
 
  
  
 
 
 
 
 
 
 
 
 
      
  
protection_effect      [function]  
    
protection_effect       
protection_effect        
     
protection_effect    , .. 
perception   
   : ()  
, ()  , ()   
 
      
       
   combining trap ,   
,  ,  ,  
      
   
   
      
  frustration_of_needs 
      
 
protection_effect        
    role  
 
protection_effect   ,    
       
     
    
:    
 :   
/: / 
:  
: perceived_responsibility 
:   
:  
:  
:    
:     
  
 .          
================
     ,    ( .)    .      ﬁ          (   "",   "intrinsic_rewards ",   " "    " ").                     perceived_vulnerability            . 
                 . ,    ﬁ           ,        .   ,                . 
 ,     ( )          ,    ,       ,    .                    .         appraisal        [Organization]   /.  appraisal     [Organization]     ,        . 
  :     
  
                    .  ,       ,    .    , ..    .                ,          .             . 
   .  .         .   belief          [goal] ()/ ,        ,         .           . 
.  : combining     
  [goal]   ﬁ            perceived_vulnerability       [Organization]      .     ,                . 
 
================
[Organization] 
/  
[goal] 
/ 
    
/ 
 
combining   
  
  
   : 
 process 
  
[Organization] 
  
 
 
 
 
   / 
combining    
 perceived_vulnerability 
  
: /process 
  
  : /process 
 
    
 perceived_vulnerability 
  
  
      : /process 
       perceived_vulnerability 
  
      : /process 
      : /process 
. .         
 
================
      : ()  [Organization] [goal] ()/ ,  ()          [Organization ].            . ,  Impact ,          [],   possibility_effect             [Organization] [goal] ()/ .           perceived_consensus  . 
:    / 
.  :    : /process 
      [knowledge]   [Organization]     .  [goal]             perceived_vulnerability        /.  gain     .  ﬁ gain        .      appraisal     ﬁ/appraisal     appraisal        protection_effect      / .   gain         /. 
 ﬁ   ,       /process,  .      [Organization]         . 
:   : /process  
.  : combining     perceived_vulnerability 
      focus     .        combining      : /process    .  isolation_effect     .   ﬁ ,         .       ,     (  )      (  )    Organization       : /process.    ,                ﬀ          physical_quality        ,       .  (),    ,    perceived_consensus   . 
              combining      perceived_vulnerability      combining               .       ,     "combining " (   -  )   perceived_vulnerability    process.       ,        "   (),  trap   " (intrinsic_rewards   -  ,    -  )   " perceived_vulnerability 
 
================
 , /  " (intrinsic_rewards   -  ,    -  )   perceived_vulnerability    [resource] . 
:    ﬁ   : /process 
.  :      perceived_vulnerability 
          : /process    ﬁ    .     appraisal     : /process  ﬁ, ..      .   ﬁ    self-efficacy       : /process     perceived_vulnerability  .        ""  ""    perceived_vulnerability      .       personality.  ,    [resource]         perceived_vulnerability    " "          "",    perceived_vulnerability  "".   ,   "combining " perceived_vulnerability,           role ,       .   ,      ""         perceived_vulnerability          "" .      ﬁ               belief   ,    ,  perceived_consensus  .  protection_effect   appraisal       gain. ,             self-efficacy        syllogistic_rules. 
 process  perceived_vulnerability appraisal       perceived_vulnerability ﬁ   : /process.                ,           . 
:       : /process 
.  :      perceived_vulnerability   
: /process 
     [Organization]  perception          : /process.     focus              : /process       /  .               ,    [] ﬁ   : "       , [Organization ],  .                  ". ,       combining,   perceived_vulnerability   : /process perceived_vulnerability ,     ,       . 
 
================
       /,       /   ﬁ         intentionality. ,          , ﬁ          [Organization ].            (.. [,,])          . 
:       : /process 
   :   
     ,     . [],   ﬁ ﬁ .  ﬁ                  .. 
,          $,  ,     ,       ,    ,   .    participant_modeling    .       .              .   , Organization          .      ﬁ  protection_effect  .                      . 
  
 
   
 
  
  
  
  
 
   
  
  
. .     ﬁ ﬁ (  []) 
 
================
.  -   
     ﬁ        "    /ﬁ ". ,                .   ,  ﬁ   /.     ,         : 
- : :    
- process : extrinsic_rewards      $, - : :    
- process :    
.  -   
   process "  " ,   process    ,            perceived_vulnerability . 
.  -     
 live_modeling  role      combining              .             perceived_vulnerability      process       (..   )  . 
      ﬁ  . 
                 . 
.  -   
     combining           ﬁ      .    ,         ﬁ.        , ..        . 
    possibility_effect       ﬁ      .      process ,     ,           . 
  
  ,         ,  ,   : ()           , ()     
 
================
 
 
 
 
 
 
 
 
 
perceived_vulnerability  
                participant_modeling   
 
          ""   participant_modeling   
               
 (..  )   perceived_vulnerability ﬁ     [Organization ], ..        
           
     ,   
        participant_modeling  
 
   /          
         ,  ,     (  
ﬁ) 
            
,      ,     trap     (..  =  
 = ),  participant_modeling   
 
              (..     perceived_vulnerability ),  
 participant_modeling     ""   
intelligence  
 . :     process "  " ﬁ   
 focus   ,    , .. "", "intrinsic_rewards ", " "  " ",  ()    perceived_vulnerability -    appraisal   perceived_vulnerability . 
    perceived_vulnerability         " "      " "      techniques      , ..  ,     .   ﬁ     " ",        " ".   fear_arousal              impulsive_effect   ,     . [].     ,      constraint possibility_effect       . ,      
 
================
 
 
 
 
  
 [goal] 
        protection_effect      
protection_effect                 
   ﬁ                simplifying          , ﬁ      
  (..   ) 
protection_effect    , ..   perception     possibility_effect  
 . :      process "   "  
   ,     . ,         [Organization]           . 
 perception   [modeling]   perceived_vulnerability               ,  .  perception          , .. "", "intrinsic_rewards ", " "  "  ",        ,          .    isolation_effect      ﬀ  .  ,    perceived_vulnerability   [],                : satisfaction_of_needs , ,   ,    ﬁ.   . []         participant_modeling : , ,   .    [division]     syllogistic_rules                              ,      . 
             : /process     ﬁ perceived_vulnerability.    perception               impact (.. [,]). ,   ﬃ   perceived_vulnerability            . ,    ﬃ-     impact           /.   . []      loss       :,           .   perception       syllogistic_rules     focus  perceived_vulnerability appraisal    ,     evaluating   impact,   .     ﬁ- 
 
================
    perceived_vulnerability ﬀ             : /process   perceived_vulnerability. 
  ,         .        .            . 
   
          perceived_vulnerability [modeling]  perceived_vulnerability ,      perception.     ,    perceived_vulnerability  ,  []     [],      .     ,          [,,,,]. 
  (  perceived_vulnerability, :,  perceived_vulnerability  )   perceived_vulnerability appraisal             :  ,             .      ,      .  ﬁ    [knowledge]      combining , , perceived_vulnerability    .    perception  perceived_vulnerability ﬁ   :   ﬁ : :, , motivation / (),   ( , ﬁ, loss, loss, ).       ﬁ   vulnerabilities.       ﬁ     vulnerabilities          .        impact  perceived_vulnerability   perceived_vulnerability    ﬀ        .          : ()      [knowledge ].      personality perception             ﬃ; ()      .    perception     intentionality  [Organization] [goal] ()/     .  ,  :      intelligence     ,       perceived_vulnerability; () vulnerabilities  ﬁ       . Vulnerabilities           : /process   ﬁ   perceived_vulnerability  . ,    perceived_vulnerability "gain  "    focus   appraisal   ,      . ,   syllogistic_rules        appraisal  perceived_vulnerability             . 
          perceived_vulnerability       .    , .. perceived_vulnerability  , perceived_vulnerability ,  appraisal /appraisal.        ﬁ process,    ,     . perceived_vulnerability ﬁ     , ..  
 
================
,   (..  ,  ),    . perceived_vulnerability ﬁ     perceived_vulnerability ﬁ,      ﬂ        . ,    perceived_vulnerability  perceived_vulnerability  .   ﬁ  ,     ,   behavior_control-ability     perceived_vulnerability.        ,     (..   , , )  , ..    ,    (..   ,  , ).   intentionality    //,   , perceived_vulnerability  /ﬀ  .  perceived_consensus   intentionality    //,    , /   / .              : ()     . ,    ,  focus     .    perception       perception    ,       ,   ,   perceived_responsibility ,         ; () vulnerabilities      .      perception        ﬁ perceived_vulnerability,  combining  . 
 belief 
       perceived_vulnerability         perceived_vulnerability . ,      perception    .  techniques                  .            ,       .         perception              ,    . 
              [action]  focus     [Organization ].          . ,               techniques   perceived_vulnerability .   ,        appraisal       :,    process  perceived_vulnerability appraisal        belief. 
 
         (..).    ﬁ    ,    
 
================
  ﬁ  (),       ﬀ. 
 
. :   ,         
     () ://../ 
//.. 
. , , , .., , ., , .:  /  
    () ://..//// 
 /.. 
. , , , .., , ., , .:  /  
    () ://..//// 
 /.. 
. , ., , ., , ., , ., , ., , .:  
perceived_vulnerability focus :        () 
      . 
. , .., , ., , ., , ., , .:  perceived_vulnerability 
focus :   [activity]       ()   
    . 
. , .: belief :   . :  :     
    ,  , , ,   () 
 ://.././.. 
. , .:  : [modeling]  . ..   () . , ., , ..:      . : 
 : .  .      
  , , , ,    () 
 
. , ., , ., , .:     appraisal 
  . :  : .  .    
,   , , , ,    
()   ://..////.?= 
&=&=. 
. , ., , ., , .: perceived_vulnerability     
 .     ,    
  ,  () 
. , ..:   perceived_vulnerability      
()      ..// 
/.. 
. , .., , ..:    perceived_vulnerability -  
    .  .  , ,  () .   :  . -      
  () ://... 
. , .:      .  belief, 
  ,     () ://... 
.///.. 
. :   -       
    extrinsic_rewards () ... 
 
================
.   :     ,  role  
            
-   () ... 
. :  :  .  intrinsic_rewards.     
   () ... 
. :      -     
 () ... 
. , ., ﬀ, ..:      . : 
 :          
, , , ,    ()  
. , ..:   perceived_vulnerability  .   ) 
()        
  ()   ://../// 
.. 
. , ., , ., , .:  syllogistic_rules    
    perceived_vulnerability () ://..// 
.. 
. , .., , .., persistence, ..:  [modeling]    
  .   /,   
  , , ,  () 
. , ., , ., , ., , ., , .:   
  .   () ()  .. 
./.. 
. , .., , .., , .., , .., , .., , 
..:      perceived_vulnerability   perceived_vulnerability (). : 
.  .      ,  , 
    () ..// 
///.. 
. , .., ﬀ, ..:        
.      ,  () . , ., , .,  , .:   [goal]  perception   
     . :  .   
 [modeling]       (), 
    ()  
. , ..:   . :  : .  .  
    ( ), , , ,  
  ()  
. , .,  , ., , .:    
.     () ()  ://. 
../.. 
. , ., , ., , .:      
 . .  () ()  
. , ., , ., , .., , .:   belief   
perceived_vulnerability appraisal. :  : .      
,   ()  ://..// 
//.. 
. , ., , ., , ., , .:    [policy] ﬁ- 
 .  ,   ,   
     ,  () .../ 
.. 
 
================
. , .., , .., , ..:    perceived_vulnerability   
 . : :  .    
, ,      .   
 .,  ()  
. , ., , .:    :   
perception.  . , , ,  () 
 
================
  -      
 
 
 
  
  
 
    
 
 
  syllogistic_rules  
  
 
   [Organization] 
 
 
 
      () 
 
 
 
  
  
    
  
   
 
 
  
  
 
 
  [authority]   
 
 
 
 
  
  
 
 
   .    
 
    
   /  
 
   (.. , , ) 
 
   
 
belief  
 
. .        "" 
 
================
intrinsic_rewards  
 
 
gain    
 
    
 
    

  perceived_vulnerability   
  
 
     
 
intrinsic_rewards  
  
 
 
intrinsic_rewards  
 
 
intrinsic_rewards     
 
 
     [Organization] 
 
     [Organization] 
 
       
 
 
       
 
      
 
  
 
 
  , ,  
 
  
  
 
. .        "intrinsic_rewards " 
  
 
 
 
 / /   
  
 
 /    
     (isolation_effect )  
    
  
       
 
syllogistic_rules      
  /  
  
/ 
 
/ / 
 
    
   
 
 
learning   vulnerabilities 
 
     .   personality 
 
    vulnerabilities 
 
 trap 
   
 
    
 
 
 /   
   
 
 
  &  
 
  ,  
. .        " " 
 
================
 
    
 
 :   
 
 role  
 
 
   
   
 
 
combining  
  
 
  
 
 
 role   
 
  
 
     
 
 
   role  
  
 
    
 
extrinsic_rewards       
 
    ..    
 
     ..   
 
  
 
 
 
 /  
    
 
    
 
    
 
  / 
 
 
 / 
 
  role   
 
  /  
 
   
 
 
extrinsic_rewards      
 
   
 
   process  
 
  
  
 
  / 
 
 
  
/ 
 
. .        " " 
 
================