 
       
 ,   , ,  
 gain              .                   appraisal -     .        ,    ,       [] appraisal                 .             protection_effect  ,      ﬁ    . ,  focus            .  mental_calculation             (    ),             ,   impact  ﬁ segregating;  - ,  [] appraisal        persistence . ,    : ()         [policy]            ,  ()    [policy]     appraisal    . ,             %      protection_effect ﬁ       . 
  [] appraisal,   ,  ﬁ,   ,   . 
:. [.]    
.  
           ()   perception            .   protection_effect         ,               [],           [],        personality  (.., [])     [] 
              .                 .  ,   
             ,          .                 .         []. 
   .          ,  , , ,  .  : ., .@.. 
          ,          ;         [], [].            .                                 [],    [].    ,      ,      ()          !! ,                   [].           ,          .     intrinsic_rewards               [] appraisal   ﬁ perception    (.., [], [], [], [], [], [], [], [], [], [],     []).              (.., [], [])      appraisal (.., [], []),        appraisal       ﬁ-based []  (.., [], [], [], [], [], [], []).    , appraisal   loss ,    [], []   perceived_vulnerability   ()  [],     . ,       ,       ,  intelligence   ﬁ        (.., ).  ,   [] appraisal intrinsic_rewards   [], [],              [], [],  [], []      ﬁ-based .     personality       belief            ,           - ..,           . 
   ,    ,  -   ,          .  ,     protection_effect     ,   perception   combining     ()     . ,   
================
. .      (  = )       : ()  possibility_effect      (..,         ); ()    possibility_effect      ;  ()        (..,         ),      possibility_effect. 
               ﬁ   .  ,                .  ,             ()    possibility_effect       (..,           ),        ﬁ      [].   , mental_calculation         .     (),   (..,       )            opportunity_for_criminal_acts    . ,        ,   gain        ,               ( ()). ,  possibility_effect           appraisal      ( ()). 
,     focus  [] appraisal              . ﬁ,  focus     ﬁ              .        [], [], []                     .       ,  mental_calculation           ,     .                          ,   impact  ﬁ segregating; ,   [] appraisal        persistence .                        (..,    )   appraisal    . 
,                    ,           . ,   intrinsic_rewards          
 
 [policy]            .      possibility_effect [] appraisal        [], [], []. ,             ,  intrinsic_rewards    personality appraisal                appraisal . ,         [policy]     appraisal          .           appraisal    evaluating        - ..,              [].         .   ,    ,      .   ,  simplifying  impact           ﬁ    .     [] appraisal         .       simplifying             protection_effect   appraisal        ( ). ,   ,          perception,   ﬁ    . 
.    
      ﬁ  ,            ;.  
       .  gain,         ,   certainty_effect ﬁ  ,  = 
 =. 
()       . , ()             ,   ,   ()     .   certainty_effect ﬁ  certainty_effect ﬁ       < , ,  ()       . ,     perceived_uniqueness ,       .   ;        ,     , .        ,           .    ,        (.., )   .  gain,     ,  {            - .., {=  .        (   )       belief        .      ,           = ; :::;     ( )          . ,  protection_effect          ()=    =  ;; :::; : 
 
, 
= 
::: 
 
 
,  = ; :::;    < < :::< . 
================
. .   -    () ,             . 
.   
    ,         (   ),      . 
.     
 mental_calculation     ()           
+= + +  
= +  
()            []   ,   ,        
          = ; ; :::; . ,   ;   
  . ,          process  appraisal ;    , ,    personality   . 
,              ﬁ.     intrinsic_rewards       ,             []   . ,   ﬁ appraisal ^    
^+= ^+ + (+
 (^+ )) 
() 
= (+ )
 ; 
() 
   appraisal   ,        . ,               ﬁ  
=  (^
  
+ 
 ); 
=  = + : 
() ,  [] appraisal    ﬁ       []    ﬁ appraisal ^  
= 
 ^: 
() 
 gain   ,           .  mental_calculation       [function]       ﬁ  
 
= ( 
 
+ ) 

 :
 
() 
= + 
 
,         ,    = ; :::;  ﬁ  ﬁ,     certainty_effect.      ﬁ   ,     ,           ﬁ = . ,  ﬁ    [function]          ,     perceived_vulnerability   ()       [], [], [], [], [], [].           [function]  ﬁ  
> ; () 
  perceived_vulnerability           
= (> ): 
() 
.   
                         ;  ,        . ,                . ,     impact   ,     ()  
+= + +  
= + + : 
() ,      []        ,      ,           []      .  gain,              =  (.., = );               ,            protection_effect     
- .., ;=        > . 
 mental_calculation   perceived_vulnerability . 
()     [knowledge]    -  gain        ,   ﬁ,  ,       possibility_effect     . ﬁ,  mental_calculation          protection_effect  ,                . ,    ,                    planning   (    ).           = ,      =  
            
=       . 
           ,        ,          .  gain,                            . 
  ,    mental_calculation       segregating [knowledge]       . 
================
    ,            . 
()            ,  planning   . ()                 ,        .  ,      protection_effect        ,  belief                . 
 [goal]                 [] appraisal       .         constraint,    [] appraisal, ,  appraisal       ^, ,  , . ,       ,     gain   perceived_vulnerability     ﬁ.   ﬁ  
=  ; =  ;     appraisal   , ,    .  ()  (),                
+= ( ) +; () 
= 
  
+ ; ()  = . 
 .    ,  ﬁ        appraisal   . ,  loss  ,        =  (.., = ;    ).     = . 
        ( ),       .  ,  []=        [],    
= []= []: ()     belief   [] appraisal    ,         impact       . ,             [] appraisal  (.., ).    ﬁ            (..,       ),   
()= ()= : () 
     ,    perceived_vulnerability         
= (> );  () 
 
= ( 
 
+ 

 
 )   
: () 
= + 
  ,     ,               () [] appraisal        [] appraisal    . 
 
,  protection_effect   persistence ,    constraint       persistence 
 + "; 
() 
   ﬁ  "> . 
.   
       ,      ,         -  [] appraisal             .    ,     combining   (.., )   protection_effect     . ﬁ,        ;=     ,  =              . ,    ,          loss,       [resource]  . ,  focus     mental_calculation  impact        (..,  )      . ﬁ,   techniques   :
      [] appraisal 
      ?
   ﬁ   impact   
      []  
        ?
      personality  
     appraisal 
        
 ? 
. IMPACT     [] 
appraisal  
   impact      ,      ﬁ. 
ﬁ .            
= ::   + "; ;  ; ()  ::= [ : : : ]. 
       [] appraisal        ,            appraisal .  (),   ﬁ  ﬁ           perceived_vulnerability. ,      ﬁ. 
ﬁ .       []  
     (..,  
( 
)    
) =    
  [][]+ (); 
= (::); ::   
: 
() 
 ﬁ         . 
================
,        [] appraisal      
[ 
= : () 
= 
,          ﬁ       . ,        [] appraisal     
         ,         [] appraisal .   perceived_vulnerability   ,        -        appraisal .       ,      belief. 
belief .  =  
  
   [function ]. ,  "> ,  "  ,    
>    

 +"      . .     ,           ,       ([]= )    = +  [], []. ,  ()  (), =  

 ,         ::, 
   
 
        - ..,     ﬂ  = [ ]= []. , =  
  
 
          ;        = 
  
[]. 
         ().    =  ( )  =  ( )            
=   (; ); =    (;; ); 
  (; )    (;;)    
    , ,  ,        .      ﬁ    ,      
  ,  
 
   [function] . 
mental_calculation "=  .   
"=   (; ;) : () 
 perceived_vulnerability  [function]       personality (    (;;) personality ),   (; ;)    [function]  []. ,     "     =  =   ()  ﬁ. , 
 
    
 " ",   =    ()     ,   ,    . 
  intentionality     belief    ",               ,      = ("; ; ). 
 .    [], [], focus     [function] =  
  
   ﬁ     - ..,                
 
  +"  ﬁ. ,        +"     simplifying        simplifying perceived_responsibility             (),        . 
 ﬁ   belief     . 
 .    [function] =  
 ,  >          ﬁ 
= ::  
 
;  ;  : 
() 
                     .       mental_calculation     ()    [function ].                 ,         .     appraisal         ,            [] appraisal         . 
 .       [function]      (),              
= :: 
 
 ;  ;   
(.., 
  
), 
= (";  ; =)= . 
() 
 ,        ,        [function]  ()  ﬁ  perceived_vulnerability         +". 
. mental_calculation    ::           ()  (),    ,   ;  . , 
 
 

  
=   ("; ; ): 
() 
=
 
+ 
=
 
+ 
 gain,  ﬁ = (; : : :; )  
= 
 
 
  
 
; 
() 
=
 
+ 
   = (> ).  (),     combining         ,  =                  

= 

  : 
() 
=
 
+ 
 = (> )= (=> =),     belief    =  
================
 
     ,   ::           ()         . 
 
    
 +"  ﬁ     ("; ; =).  ,  ()
  

 

 +",  
= + 
()  ()       belief,  ()     +"  ﬁ.  () 
    ,    

 . , 
 

 +" ,  ::   (..,   
).  .       [function]      (),         , ,       
= :: ;  
 
 ;  ; () (..,   
), 
= ("; ; = ). 
 
 ("; ; =): 
  ,        () 
 (),     ; = ; :::;   
  ; = ; :::;      
  . ,  (),     
. mental_calculation    ::     
 [function]   ().  =   
 
  
 
 

 
.       = (> ) ,    ﬁ   ().  ::  ,   
 

 + ",    

 +" . 
   ,  [function]  
 
= 
   ;      belief   =     +"  ﬁ      = ("; ; = ). ,       +"    ; = ; :::; ,   ::   (..,  ). 
 .         
[function] =  
 ; 
= 
            ,       .  ,              -         . 
                            ,      

 . ,  simplifying impact   ,   mental_calculation        persistence     . 
belief .(   ()        ) ^=    
;  ()  (); 

  
 ^
 ; 
 
()  ,  ^=    > . 
.  (), ()              = .  ,    ,                     . ,        [][]+ ()        []=  ( ())  . mental_calculation   ::  .         
    ::    . 
,  
 
    
 
;  ;      , ,   ,   ^      constraint             constraint   (). 
.    
belief                       [] appraisal  - ..,   ,   ,             . 
ﬁ .      ()        ()    . 
   [], [],          ,   ^= 
 
 
^= 
                .  belief ,          .   ,      ﬁ  ^  simplifying   ,           constraint    =  - ..,     mental_calculation    constraint  
 ;   ; 
() 
     ()  (). ,  belief    [], []. 
belief .    ()            ,            ﬁ (éé)       []     (); (). 
  []       ;   .    ,     
  ﬁ      
 . 
.         
  ,  simplifying           appraisal   .    belief,      ﬁ. 
ﬁ .       
[policy ]( ;  ), = =   > ,  
  
<   = > ( 
 ),   
::   ::    
> ,  
:: 
 ; 
()  
 
=  
+ 
= :::=  
+
  
= ; : 
================
,      ,       [policy] (; ; ),  =  
 
   
 
= 
 > ,
  
<    > ,  = >  
  
,   
 ;=  +;= :::=  +
 ; 
= ; : 
,      [policy]         ;              ,            . ,        [policy ],               ,               . 
        ( simplifying,        ). ,       isolation_effect     ,      ﬁ             .  ,              combining               (       ).  gain,     appraisal /         ,             /         .    ,      ,         isolation_effect (.., )   (..,  ). 
 .       ﬁ              ,    ,      appraisal     .  ﬁ       =  
  
  > . ,  ﬁ         ,    . 
  belief ﬁ         [policy]           [] appraisal . 
belief . mental_calculation     ()      [policy ]( ;  ),  
= (;  
 ); 
() 
  ﬁ,       (;) ,          .       . 
   belief,        ﬁ   loss        . ,  belief          ;    ,               ,  
 
       ,             . 
 .       [],     belief     = 
 
()+ ; .   evaluating ()+   [],    belief    ()+ ,      belief           simplifying     . 
     ,      belief     .    belief,        belief ;          appraisal  ,                 (..,  ). 
 . mental_calculation   ()  ()     (),      ; : : : ; 
            . ,  appraisal       
= ++  
 
+ % ()  %= 
 
=+ 
    ,          !   ! . 
.       . 
belief . mental_calculation    ,   +   (..,   +        [policy] ).     [] ,    ;+; : : : ;+
  
 ,    +        . 
.  ()  ()    
+= +
 
 +; += +
  
+ +: 
() () 
   ,  +       constraint (),  +  +  . ,    +  ,   ﬁ    +
  
 . 
     - ..,  +
  
   ; : : : ;+
  
  .  ()    
+ 
 
 
=  
 
  

 +: 
= 
  +; : : : ;+
  
       ,    +
  
  ,        .  +  ,    ( +)     . ,  
,  belief     
+(+)      ,    ;+; : : : ;+
 (+) 
     . ,      ,      ,   ,  . 
================
+         ,  
      persistence . ,  
        ,     () ﬁ  
  
 
 
 
 
()= 
 
: : : 
 
() 

  
| {} 
 
 . ,  mental_calculation  . 
 :       (;)  (.., =     evaluating,       ( 
  )     ,    .  : mental_calculation = ,           ,    ﬁ       - .., = [ ::: ]    ()            , +; :::;+ 
 
    ;  gain, ; :::; 
 
   (  )      . 
,       " 
# ~= 
  
= = 
( 
) 
( 
 ) 
(
 ) 
 
  
(  ) ~= éé= ~( 
) 
~(
 ) 
       ,         ( ~;~)   . 
          
(    ). ,   , 
= [ : : : ]= ::; ()  :: 
 
 
=
 
 
: : : 
 
 
   
( 
 +):: 
= ( 
 +) 
: : :  
 
 
   .  
    ~~= ~ 
 
= ~ ~,  ()    
 
 
~ ~ 
~ 
()=  
 ~ 
 
 
 : : : :: 
= 
~ 
  
~
  
 
 
 
   
 
~ 
 
~ 
 
  
 
~ 
~ 
=  
: : :  
 + 
  
:: 
 : : : 
( 
 +)::: 
~
  
~
  
| {}| {} 
~; ~; 
() 
 ()  ( 
 +):: 
 ,  ()   
~()= ~;:: 
 
()   .   ~;         (; ~)            . 
 
. .          . 
), 
   (;~)  ,     ; ,     ~     ~  ( ~)  
.    
    ,             ( ﬁ  . ),  ,   ,          .     ~=  - ..,      
~ 
       
~ 
  . ,  ~= éé= [ : : : ],    =    .                      ,         . ,      (),  (;)       belief   . , (; ~)     ~;   evaluating. ,         (.., )       . ,  ()     ()       :: 
 
   ,   ()       ,     . 
   belief,    belief . 
  belief . mental_calculation   +     - ..,         . ,  
 
= :::=  
+
  
= .  ()     
+ 
=  
+
 , 
= ; :::;  ,    () 
 
+
 
 ; = ; :::;  : ,  belief      [] appraisal   
+
  
       ;             .      belief ,      ﬁ    ,     intentionality  [] appraisal          (    ). 
, mental_calculation         .  ﬁ ,         ^;^+ ,  ^= + ( ). ,  ()  ()    
 
^ 
= 
 ^
 
 ^  
^ ^+: 
() 
= 
,      [] appraisal                 ﬁ      
================
     ( ^ 
+
 );         

 

  
^ 
   
^  
^  
 
 
+ 
 ^  
: 
() 
= 
,   appraisal        ,       . 
belief         [knowledge]      [policy] - ..,       .      ,           ,          [] appraisal             .    ,        [knowledge]  (..,  ()             ),        personality;         , ()   protection_effect       (   )     ,     persistence    (). ,     . 
belief .     ()      [policy] (; ) (..,  = )                    . 
. ,                 [] appraisal .    ,  ()  ()        ;          ()   ,    ( )   (   intrinsic_rewards)       -        . 
   ,          - ..,   [] appraisal    . ,               ﬁ      > . ,            +,  ()     += > ,       (). 
    mental_calculation                (..,       ). ,  [knowledge]          .  ,          ,                 ,       .   ,        . 
 . mental_calculation    ()      [policy ]( ;  ),  = (; 
 
 ), 
     (;),                
 
  ﬁ ()  .       . 
.        belief ,       !                ()  ; , mental_calculation ! ,          !   ()  =.       +     ()     (.., (éé 
)+)   ﬂ     +,        !         ,        (). 
  a_memory ﬁ    ,           -       ::   ﬁ       . ,       belief ,     ::         constraint      ,          = .    [goal]   persistence     ,  mental_calculation    . 
ﬁ .     [policy ]( ;  ),             
() = :: 
::    ; 
=   ( +  )^ ( ) 
: 
,                 (  ),    perceived_vulnerability    . ,       ﬁ      (. ),          . 
ﬁ .  [policy]       [] appraisal     (.., )    
() =    
  [][]+ (); 
= (::); ::   
: 
() ,         [] appraisal      
[ 
 
= : () 
= 
  ﬁ               behavior          .    
,     
 ,   intentionality -   . ,             . 
)     :    constraint,   mental_calculation               ,      . ,           =    = +       = ; :::;   
================
(..,      , ﬁ ,  , );       . 
             .             .       = ,     ;=  
 = 
 
 ~ 
::   belief ,    
~ 
 
:: .   ,  
  
 ,  ! ,      ()  .    ,  
    ,      ( 
). ,       ;,      ( 
) 
   .      = ,    =      ().      (;)      . 
.       
  
   ,                 [] appraisal ,        . ,           ﬁ   [policy]    appraisal  (.., [] appraisal )      . ,  [goal]              protection_effect   [] appraisal  persistence       . ,   ,     ﬁ        ﬁ appraisal       ()       . 
.  [] appraisal       
mental_calculation     (), ()     
 [policy ]( ;  ).   ﬁ ,   :: = 
[() ::: ()]          ,  ()= ~ 
, 
= ; :::; ,  
~= 
;;      ;  < ; 
;  
, ~       appraisal -      - ..,             .  gain,   ﬁ (::)=   ; :::; ;            [policy ],  
 
 
= 
  
+ ~= ~: () 
= 
 ()  (),             
 
= ( )
  
:::   
:: 
| {} 
 
() 
=
 
|
 {
  
 
} 
:: 
 
 
 combining         ,        ~, ..., ~, 
   
 
= (~; :::; 
 ~ 
).  gain, 
 
    
 
~ 
= ~,  ~ ~=  
~,  
= 
  
 
 
; :::; ,    
 
= . , ()     
 
  
 
= ( )
  
~ 
:::  
~ 
 
  
 
:: 
| {} 
 
 
 
 
=   ~  
| { 
   
:: 
} 
 
 
() 
      
 
 
           . 
 
       [function]                  . ,      focus   ﬁ  [function]        () . ,           protection_effect  ,    combining    .    belief,  :   (;)   :   (;).          ,          ,   perception   .  gain,           
      (..,  
)   ,               .  techniques  ﬁ ,           ,           ;        , ..,     ,         ,         appraisal . ,   ,            .  techniques    (..,    ),     [function]              ,     .., [], [];   protection_effect          . ,   ,      [function]        
 
 
= 
  
+ = ( 
  
 
+   ()())= 
= 
 
= 
 
 
 
( 
  
 
)+    ()() 
= 
() 
 =  
() 
() 
,   
 
 
  perceived_vulnerability             
 
= 
 ,  = 
 
 
()()           ., 
================
      constraint  () (.., ( 
 
> ) (> )+ ")     
 
 
 
@ ( 
  

 )> 
)> 
+ "+@ (  +  
= = 
         ()  ()  ,  belief      
       constraint    
 
 

 
 ("; ; + ): () 
= 
   ,  ()    
  
 =  
  
= 
= = 
 
= ( 
 
::)[  ( 
 

  
 
)] 
= 
[  ( 
 
)]::: ,  (),    constraint     [policy]     
 
 
:: 

 ("; ; + ); ()  
 
 
= [  
 [ 
( )] 
 
 
 
( )]: 
= 
() 
    ,    .  .    ,     certainty_effect ﬁ. 
.       = .  ﬁ ,       =    = ~= .        ,      
 
=  

   = [ ]
 [ 
]: 
       ,       . 
, mental_calculation          
  
 certainty_effect ﬁ.  ()   " 
# 
= 

  
 
 ~ 
+[ 
 
]
 [  
 
 
 
] 
| 
  
~ 
 
~~ 
 
 
| { 
}
 
{} 
~ 
 
~ 
  
()   mental_calculation    . 
 :     ,    <     ;             ~= .   
 
    ,     ()  certainty_effect ﬁ ,   .  gain, 
 

  
 certainty_effect ﬁ  belief, 
 ~
  
=  [~ ~ 
 
. , 
  ] 
 (),   ().   (~ )
 
  
~
 , 
    ~ 
 
      [~ ~ 
 
. , 
  ] 
(~) (~
 )= 
: () 
 
,             () - ..,( ~+ ~
 ) 
= ,   
~= ~
 : 
,             (),  ~
  
 ~   certainty_effect ﬁ,     . , = ~ +~
  ()= ,      certainty_effect ﬁ      . 
 :   ,    <     ; ..,       . ,  ~= ,  ~
  
= 
  
 certainty_effect ﬁ. ,  ~ ,    = ~+ ~
  
 certainty_effect ﬁ. 
,  ﬁ      ()       . 
belief .           [policy ]( ; )    
 =  
  
  
 
[ 
 
 
 
]
  
 
[  
 
]+ 
 
() 
  
 
=  
("; ; 
+ ),    ﬁ         - ..,        +     ,  =  
( ). 
. mental_calculation    ()   ,      
 ("; ; + )
 ( 
::) 
 
 
::
 : 
() 
,      ,  
"# 

  
 
:: 
( 
 
::) 
 
("; ; 
+ ) 
<  () 
      ()  certainty_effect ﬁ,        ,      ,      certainty_effect ﬁ.       ;:::;;+  ,   simplifying    ()          +::. ,   
"# 
[ 
 
]
  
[ 
 
]  
 
:: 
( ::)  + ) 
<  
 
("; ; 
()  =  
( ). ,    ()       
  
      ,      (..,    )    (). 
   ()   ()      .    ﬁ                ::.  ()     ,   [ ]
  
)] 
 
 
 
 
 
[( 
 
< ; 
 
 
() 
================
 
 
(  
 
~=
  
)
 
  
 
(~ )
  

  

"#"
   
[ ]
 [ ] 
 
 
 
 
 ( 
 
::) 
 
[ ]
 [ ] 
() 
  
 
( ) 

 ( 
 
::)( ) 
 
 
("; ; 
+ ) 
  
 
=  
("; ; 
+ ). ,  ()   ﬁ    (),    ()     []=,  ﬁ   () . 
       ()   ﬁ .   ﬁ   
 
 
 
  
 ( 

  
)
 
  ~ 
(~) 
 

  
 
~ 
() 
#"  
 
::
  
 
 
 
   
 
:: 
< :  
("; ; 
+ ) 
# 
  
<  () 
() 
 ().   ,          belief ,    (),             - ..,   = ::,  ::= 
 
= 
.    ,     ,     [policy ]( ;  ). ,     
=  ("; ; +)[ ]
  
 
 
[ 
 
()  ()     < ,                 
]+: 
,     focus     
    . 
=  
  
 
  : ()   certainty_effect ﬁ   ﬁ  ().        ﬁ    . 
,      ,   [goal]      [] appraisal  []= .    ,          = . 
 .    ,       [] appraisal       ﬁ 
[]=  
 
; () 
(~) 
 (~)         ~=  
 
("; ;+)[ ]
  
,           - ..,  
 
 
[ ] 
 
      +     . 
      ﬁ              [policy]  .       [] appraisal         simplifying  impact     [policy]    ,            . 
.        [policy] ,         impact     [policy ],       ,   ,       
     [policy ]( ;  ),     = +           - ..,  +     + .     belief ,         ()  ﬁ     ,    ﬁ   < ,  ()   ().    
 + 
= :::=  
 
=    
 + 
= :::=  
 
= ,      persistence    ,        appraisal            [ 
]=  
 [ 
]= ,   ﬁ  
 
  
. ,  
 

 
 
 
 ::  
 :: 
,  
   appraisal                   ,                 [] appraisal             
 
.  gain,       ﬁ,       [] appraisal     
 = = 
 
 
= = 
= ::. 
 
,            [policy]    (..,     evaluating)     ﬂ. ﬁ,        [policy]     []   appraisal           (.., )   .       ,  ﬁ              [] appraisal    . ,             (; : : : ;)  ,  = []    (). 
,              ,    , 
================
          . 
:  ,         
appraisal   
:   =  
:  
: = +  
:  [policy ]( ; )      
      =  
:  =      ::=? :  
: =  
: :: 
 
= :: 
: =  ^ >  
:   
+; :::; 
,  
+; :::; 
  () 
: : : : : : : : : 
   () 
 ("; ;+ ) 
 = + ; : : :;   
   () 
::= ::[  
  
 ::  
:: 
   
  :: 
 
   =? 
 [policy ]( ;  ) 
       ,         ﬁ. ,                    protection_effect  appraisal       . 
.   
  ,             protection_effect ﬁ        .   ,         ,      .    [],      (    )          ,   []    ﬁ       . 
.  focus :    
       []      possibility_effect        ;       (    :)    
 : 
= 
:
 
= 
: 
= 
  
    
() 
          .             (éé)  ,  = . 
 mental_calculation    appraisal       :       : 
 
 
,   
 
. 
|| 
 intrinsic_rewards 
 
 

  
. 
|| 
. .  
 
 
. 
. 
. 
. 
. 
 [] 
. .     appraisal    ;   ,             . 
. 
. 
|| 

  
. 
 
 
|| 
. .  
. 
 
 
 
 
. 
. 
. 
. 
. 
. 
. 
. 
. 
 
 [] 
. .  appraisal             focus        =    = ;;. 
= :.       perceived_vulnerability   certainty_effect  () = :%,   perceived_vulnerability        () "= :%.   ,      [] appraisal       ,     .         =   ﬁ    belief ,   = ;  ,   , ,   .     ,     ﬁ    ,    [policy]      -         appraisal    [policy ]. ,                    ,    : 
 
 
.         ,      .  ,        .%  , ..,    ,               . 
.      () 
    ()                .   ,         appraisal     . ,            ,        .   ,       appraisal      [] - .., 
================
 
() [] appraisal     , () [] appraisal            . 
()      (). 
. . [] appraisal      -          ﬁ appraisal    physical_quality   . ,     ,     .              . 
    
   
= 
 
   
 
 
 
   
+ 
    

 
 

 
 
= 
   
   
 : 
 
. 
. 
() 
|| 

  
. 
. 
|| 
() 
. .  
. 
 intrinsic_rewards 
 
. 
. 
. 
. 
. 
. 
. 
. 
. 
,           ,     -     appraisal -      ,    ,     , = :         [].  focus          ,     .    appraisal    :  belief, :  ,  : 
 
 ,   = :. 
   ,  "= :%, = :%.   =          ,  = .   [policy]  =       appraisal             .  gain,        [policy]             .       %      ﬁ     . 
 [] 
. .    appraisal   .               ,      ﬁ  . 
. .  [] appraisal            =   =       .   ,       ,        [policy] =   = , appraisal      ,          . 
. belief 
  ,              [] .       ﬁ-based         ,         .   ,          ,        ,        .             ,        
[] appraisal .  gain,          appraisal              [] appraisal       .            ,   intrinsic_rewards             . ,     ,           ,          
================
  protection_effect      ﬁ       . 
    simplifying                [resource]        participant_modeling    .        []       ,    perception   [resource]                . 
 
[] . , . . , . . ,  . . .  
       intelligence  : 
      .  
 , ():,  . 
[] . . .      . , 
. 
[] . , . , . , . , . , .  
physical_quality, . , . , . , . ,  .  
experiential_awareness     .    
 , . 
[] . , . ,  . . protection_effect appraisal    
    .    
impulsive_effect , ():, . 
[] . .   . .  .  .  ,  
, . 
[] . , . ,  . .   
. & , . 
[] .   . .     protection_effect [] 
appraisal.         (), 
 , . 
[] .-xxx. .   ﬁ. , .,  
 , , , . 
[] . . , . . , . . ,  . . .  
      ﬁ.    , 
():, . 
[] .   . .     belief  
    .    
impulsive_effect , ():, . 
[] . , . ,  . .       
    .     
, (), . 
[] . , . ,  . .   appraisal  
      .   
  ,  , . 
[] . . :    . & 
, , ():, . 
[] . , . ,  . .    protection_effect  
 .      (), . [] . , . ,  . .     
  .  . . . ., ():: 
:, . . 
[] .-xxx. , . , . ,  . .  
       . 
 .  . .  . ., ():, . [] . . , . , . ,  . . . . 
  :    focus. , 
/., . 
[] . , . ,  . .   perception   
 .         
 (),  ,  . 
[] . , . , . ,  . . . coding   
satisfaction_of_needs       . 
 .     , ():,  . [] . , . , . ,  . .    
  [] appraisal    .   
 .     (),  , . [] . , .-xxx. , . , . , . , . ,  
. .     intelligence  . 
   , ():, . 
[] .   . .       . 
    protection_effect  ,  , . 
 
[] .   . .       
     .    
impulsive_effect , ():, . 
[] . , . ,  . .   
  :       
  .  , ():, . [] . , . ,  . . .  [] appraisal  
  .       
, ():,  . 
[] . , . , . , . , . , . ,  
. .    [] .  / 
     (),  
,  . 
[] . , . ﬂ,  . .     
ﬁ   .    impulsive_effect 
, ():, . 
[] . , . , . , .   ,  
. .       
.  .  . . ., ():, . [] . , . ,  . .  .  , 
():, . 
[] . , . , . , . , . .  
, . . , . . ,  . .  
       .  . 
    (),  , . [] .   . .  []   
  /.    impulsive_effect , 
():,  . 
[] . .        
  .     ,  
, . 
[] . .   protection_effect  .   
,  , . 
[] . , . , . , . ,  . . 
   :    behavior.  
       (),   
,  . 
[] . , .  , . ,  . . .   
     .  .    
ﬁ   (),  , . [] . , . . , . ,  . . . protection_effect 
 :   perceived_vulnerability  perception.  
 , ():, . 
[] . . , .  , . . ,  . .   
    ﬁ .    . 
   . , ,  , . [] . .   mastery_experience,      
,  ,  . 
 
    
.  ()  (),       
= 
 
  
() 
,     constraint (),    appraisal             .      appraisal   ,                            
=
 
  

 ; 
() 
= 
 = . ,      ; : : : ;    ,     appraisal   
 
 
= ;   ; = ; :::; : () 
= 
  
 
 
     ; :::  ,   
 
  
= 
 ; 
++ 
 ;; 
 ; 
 ; () 
================
 
  = ; :::   = ; :::,   ()     
 
; 
    - ﬁ,  = [ : : :]   
 
 = ;; : : :; ;.           []  < ,   
 
; 
 
; 
=  = 
 

 (); 
     ; :::;   personality,             belief   . 
,  (), (),  (),   
(
 
 
+ ) 
() 
 
+ () 
! 
()
 () 
= 
=  ! 
+  
( 
 
)()= : 
 
  
 
=  
 ;
 : 
() 
= 
= = 
  mental_calculation  ,       (     ),     .   -    , =  ,   
,  <   belief,   ,            . ,               > .     =      . ,  (),  = ,    
 

   
()
  
(()+)  = (()+) (); 
= = 
 
  
 
=  
 ;
 : 
() 
   ()  ,        = ,     . 
= 
= = 
    personality,   
=  
  
 
 ;
  
; 
  

 ; 
() 
= 
= 
    ()    !      < ,                    ,        .   -       ,   mental_calculation  . ﬁ,   ()  
        , +; : : : ;+         - ..,    , +      .   = 
  
 = [ : : : ],  = [ : : : ]       ,          [],     
(;) 
! 
+= 
 

 + 
 
= 

 : 
     ()  
 
  
 
(;) 
= 
 ;
 + 

 ; 
() 
= 
= = 
= 
!   
 
           .  ()            (..,      ()= ). ,     personality,   
=  
  
(;()) 

 ;+ 
= 
= 
!   

  
  
(;()) 
 
!
 
= 
= 
 ;+ 
 

  
(
 
  
(;())
 ()
  
= = 
(()+ ) 

  
 
= 
();   (()+ )
 
= 
()
 (); 
<  
() 
================